<div class="container">
    <h3 class="contact-header">
        Get In Touch
    </h3>
    <div class="contact-us">
        <span>
            We’d love to hear from you. Reach out to us for your requirements or simply a friendly chat!
        </span>
        <div class="contact">
            <div class="call">
                <i class="material-icons">call</i>
                +91-99887-76655
            </div>
            <div class="mail">
                <i class="material-icons">email</i>
                udaya.sindhu@outlook.com
            </div>
        </div>
    </div>
</div>