<div class="container">
    <div class="footer-header">
        <h3>
            Would you like to be a part of the HL's Family?
        </h3>
    </div>
    <div class="footer-content row">
        <div class="company-name col-sm-4 col-md-4 col-lg-4">
            <span class="company-logo">
                HL
            </span>
            Honey Loch
        </div>
        <div class="copyright col-sm-4 col-md-4 col-lg-4">
            ©2021 by Honey Loch
        </div>
        <div class="follow-us col-sm-4 col-md-4 col-lg-4">
            <a href="https://paperinflames.wixsite.com/blog" target="_blank" class="fa fa-google"></a> &nbsp;
            <a href="https://www.linkedin.com/in/udayasindhu/" target="_blank" class="fa fa-linkedin"></a> &nbsp;
            <a href="https://twitter.com/paperinflames" target="_blank" class="fa fa-twitter"></a> &nbsp;
        </div>
    </div>
</div>